<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About &#8211; Enfold Elegant Portfolio</title>
    <link rel="icon" href="../image/favicon.ico">
    <meta name="keywords" content="Brand, Portfolio, Logo design, Brand design, Web design, Content creation">
    <meta name="description" content="I can help you build a successful brand.">
    <meta name="author" content="Malahat Habibi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/custom.css">
</head>
<body>
<header>
    <div class="row col-12">
        <div class="col-4">
            <a href="home_page.html"><img src="../image/brand-logo.png" alt="brand-logo"></a>
        </div>
        <nav class="row col-8 mt-4 mb-4">
            <h6><a href="home_page.html" class="header-links m-3">Home</a></h6>
            <h6><a href="about_page.html" class="header-links m-3">About</a></h6>
            <h6><a href="blog_page.html" class="header-links m-3">Blog</a></h6>
            <h6><a href="contact_page.html" class="header-links m-3">Contact</a></h6>
            <span class="ml-3">
                <a href="#" class="header-footer-icons">
                   <i class="fab fa-twitter"></i>
                </a>
            </span>
            <span class="ml-3">
                <a href="#" class="header-footer-icons">
                    <i class="fab fa-dribbble"></i>
                </a>
            </span>
            <span class="ml-3">
                <a href="#" class="header-footer-icons">
                    <i class="fab fa-instagram"></i>
                </a>
            </span>
        </nav>
    </div>
</header>
<br><br><br><br>
<div>
    <h1 class="first-sentence">A little bit about me and how I became the designer I am today</h1>
</div>
<br><br><br><br>
<div class="row col-12">
    <div class="col-6">
        <h2>What I can do for you</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer <strong>adipiscing</strong> elit. Aenean commodo ligula eget dolor.
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
    </div>
    <div class="col-6">
        <h2>How i usually work</h2>
        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer <strong>adipiscing</strong> elit. Aenean commodo ligula eget dolor.
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
</div>
<br><br>
<div class="row col-12">
    <div class="col-6">
        <h2>Skills</h2>
        <p>Aenean vulputate eleifend tellus. <strong>Aenean</strong> leo ligula, porttitor eu,
            <strong>consequat</strong> vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat
            a, tellus.</p>
        <ul>
            <li>Nullam felis eu pede mollis pretium.</li>
            <li>Integer tincidunt. Cras dapibusc onsectetuer adipiscing eli.</li>
            <li>Vivamus elementum semper nisi.</li>
            <li>Lorem ipsum dolor sit amet. Aenean commodo ligula eget dolor.</li>
        </ul>
        <p>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
            quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
    </div>
    <div class="col-6">
        <div class="mt-5 mb-4">
            <div>LOGO DESIGN</div>
            <div class="progress" style="height:5px;">
                <div class="progress-bar w-100 bg-dark" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="mb-4">
            <div>BRAND DESIGN</div>
            <div class="progress" style="height:5px;">
                <div class="progress-bar w-100 bg-dark" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>
        </div>
        <div class="mb-4">
            <div>WEB DESIGN</div>
            <div class="progress" style="height:5px;">
                <div class="progress-bar w-75 bg-dark" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>
        </div>
        <div>
            <div>CONTENT CREATION</div>
            <div class="progress" style="height:5px;">
                <div class="progress-bar w-50 bg-dark" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<br><br><br><br><br><br><br><br>
<footer>
    <section>
        <span class="footer-icons footer-icons-border">
            <a href="#" class="header-footer-icons">
                <i class="fab fa-twitter"></i>
            </a>
        </span>
        <span class="footer-icons footer-icons-border">
            <a href="#" class="header-footer-icons">
                <i class="fab fa-facebook-f"></i>
            </a>
        </span>
        <span class="footer-icons footer-icons-border">
            <a href="#" class="header-footer-icons">
                <i class="fab fa-dribbble"></i>
            </a>
        </span>
        <span class="footer-icons footer-icons-border">
            <a href="#" class="header-footer-icons">
                <i class="fab fa-instagram"></i>
            </a>
        </span>
        <span class="footer-icons footer-icons-border">
            <a href="#" class="header-footer-icons">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </span>
        <span class="footer-icons footer-icons-border">
            <a href="#" class="header-footer-icons">
                <i class="fas fa-envelope"></i>
            </a>
        </span>
    </section>
    <br><br>
    <section>
        <span class="footer-line-icons">&#95;</span><span class="footer-line-icons">&#95;</span><span
            class="footer-line-icons">&#95;</span><span class="footer-line-icons">&#95;</span><span
            id="footer-star-icon"><i class="fas fa-star"></i></span><span class="footer-line-icons">&#95;</span><span
            class="footer-line-icons">&#95;</span><span class="footer-line-icons">&#95;</span><span
            class="footer-line-icons">&#95;</span>
    </section>
    <br><br>
    <section>
        <h4 id="subscribe-text">Subscribe</h4>
        <p id="last-news-text">Get our latest news, tips and tricks</p>
        <input id="footer-email-input" type="text" placeholder="E-Mail*">
        <input id="footer-submit-button" type="submit"><br><br>
        <a class="footer-links" href="#"><small>About</small></a> |
        <a class="footer-links" href="#"><small>Imprint</small></a> |
        <a class="footer-links" href="#"><small>Contact</small></a> |
        <a class="footer-links" href="#"><small>Privacy Policy</small></a><br><br>
        <a class="footer-links" href="#">&copy; 2018 Enfold by Kriesi</a><br><br><br>
    </section>
</footer>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c508cee2e7.js" crossorigin="anonymous"></script>
</html>