<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enfold Elegant Portfolio &#8211; Just another Kriesi.at Theme Demos Sites site</title>
    <link rel="icon" href="../image/favicon.ico">
    <meta name="keywords" content="Brand, Portfolio, Logo design, Brand design, Web design, Content creation">
    <meta name="description" content="I can help you build a successful brand.">
    <meta name="author" content="Malahat Habibi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/custom.css">
</head>
<body>
<header>
    <div class="row col-12">
        <div class="col-4">
            <a href="home_page.html"><img src="../image/brand-logo.png" alt="brand-logo"></a>
        </div>
        <nav class="row col-8 mt-4 mb-4">
            <h6><a href="home_page.html" class="header-links m-3">Home</a></h6>
            <h6><a href="about_page.html" class="header-links m-3">About</a></h6>
            <h6><a href="blog_page.html" class="header-links m-3">Blog</a></h6>
            <h6><a href="contact_page.html" class="header-links m-3">Contact</a></h6>
            <span class="ml-3">
                <a href="#" class="header-footer-icons">
                   <i class="fab fa-twitter"></i>
                </a>
            </span>
            <span class="ml-3">
                <a href="#" class="header-footer-icons">
                    <i class="fab fa-dribbble"></i>
                </a>
            </span>
            <span class="ml-3">
                <a href="#" class="header-footer-icons">
                    <i class="fab fa-instagram"></i>
                </a>
            </span>
        </nav>
    </div>
</header>
<br><br><br><br>
<div>
    <h1 class="first-sentence">Hi! I am Max and this is my portfolio. I can help you build a successful brand. Don’t be
        shy, get in touch!</h1>
</div>
<br><br><br><br>
<section class="images-in-one-row">
    <div>
        <a href="#">
            <img src="../image/logo-1.jpg" class="col-2 zoom" alt="logo-1">
        </a>
        <a href="#">
            <img src="../image/logo-2.jpg" class="col-2 zoom" alt="logo-2">
        </a>
        <a href="#">
            <img src="../image/logo-3.jpg" class="col-2 zoom" alt="logo-3">
        </a>
        <a href="#">
            <img src="../image/logo-4.jpg" class="col-2 zoom" alt="logo-4">
        </a>
        <a href="#">
            <img src="../image/logo-5.jpg" class="col-2 zoom" alt="logo-5">
        </a>
    </div>
    <br>
    <div>
        <a href="#">
            <img src="../image/logo-6.jpg" class="col-2 zoom" alt="logo-6">
        </a>
        <a href="#">
            <img src="../image/logo-7.jpg" class="col-2 zoom" alt="logo-7">
        </a>
        <a href="#">
            <img src="../image/logo-8.jpg" class="col-2 zoom" alt="logo-8">
        </a>
        <a href="#">
            <img src="../image/logo-9.jpg" class="col-2 zoom" alt="logo-9">
        </a>
        <a href="#">
            <img src="../image/logo-10.jpg" class="col-2 zoom" alt="logo-10">
        </a>
    </div>
    <br>
    <div>
        <a href="#">
            <img src="../image/logo-11.jpg" class="col-2 zoom" alt="logo-11">
        </a>
        <a href="#">
            <img src="../image/logo-12.jpg" class="col-2 zoom" alt="logo-12">
        </a>
        <a href="#">
            <img src="../image/logo-13.jpg" class="col-2 zoom" alt="logo-13">
        </a>
        <a href="#">
            <img src="../image/logo-14.jpg" class="col-2 zoom" alt="logo-14">
        </a>
        <a href="#">
            <img src="../image/logo-15.jpg" class="col-2 zoom" alt="logo-15">
        </a>
    </div>
</section>
</body>
<br><br><br><br><br><br><br><br>
<footer>
    <section>
        <span class="footer-icons footer-icons-border">
            <a href="#" class="header-footer-icons">
                <i class="fab fa-twitter"></i>
            </a>
        </span>
        <span class="footer-icons footer-icons-border">
            <a href="#" class="header-footer-icons">
                <i class="fab fa-facebook-f"></i>
            </a>
        </span>
        <span class="footer-icons footer-icons-border">
            <a href="#" class="header-footer-icons">
                <i class="fab fa-dribbble"></i>
            </a>
        </span>
        <span class="footer-icons footer-icons-border">
            <a href="#" class="header-footer-icons">
                <i class="fab fa-instagram"></i>
            </a>
        </span>
        <span class="footer-icons footer-icons-border">
            <a href="#" class="header-footer-icons">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </span>
        <span class="footer-icons footer-icons-border">
            <a href="#" class="header-footer-icons">
                <i class="fas fa-envelope"></i>
            </a>
        </span>
    </section>
    <br><br>
    <section>
        <span class="footer-line-icons">&#95;</span><span class="footer-line-icons">&#95;</span><span
            class="footer-line-icons">&#95;</span><span class="footer-line-icons">&#95;</span><span
            id="footer-star-icon"><i class="fas fa-star"></i></span><span class="footer-line-icons">&#95;</span><span
            class="footer-line-icons">&#95;</span><span class="footer-line-icons">&#95;</span><span
            class="footer-line-icons">&#95;</span>
    </section>
    <br><br>
    <section>
        <h4 id="subscribe-text">Subscribe</h4>
        <p id="last-news-text">Get our latest news, tips and tricks</p>
        <input id="footer-email-input" type="text" placeholder="E-Mail*">
        <input id="footer-submit-button" type="submit"><br><br>
        <a class="footer-links" href="#"><small>About</small></a> |
        <a class="footer-links" href="#"><small>Imprint</small></a> |
        <a class="footer-links" href="#"><small>Contact</small></a> |
        <a class="footer-links" href="#"><small>Privacy Policy</small></a><br><br>
        <a class="footer-links" href="#">&copy; 2018 Enfold by Kriesi</a><br><br><br>
    </section>
</footer>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c508cee2e7.js" crossorigin="anonymous"></script>
</html>